.note-card {
    padding: 5px;
    color: black;
    margin: 5px;
    width: 500px;
    height: auto;
    background-color: #6C757D;
    border: 1px solid #6C757D;
}

.note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}