.notes-card {
    padding: 15px;
    color: #DEE0E2;
    margin: 15px;
    width: auto;
    height: auto;
    background-color: #6C757D;
    border: 1px solid #6C757D;
    border-radius: 4px;
}

.card-title {
    margin-bottom: 10px;
}

.card-content {
    font-size: 16;
    margin-bottom: 10px;
}

.card-create-date {
    font-size: 12;
}

.notes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    /* overflow-wrap: break-word; */
}

.create-note-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.create-note-container div {
    margin: 15px 0 15px 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.page-title {
    margin: 20px 0 20px 0;
    text-transform: uppercase;
}